*.exe
*.dll
*.out
*.app
*.o
*.obj
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
prog #ignora o execultavel que gera quando compilamos, se gerado com o nome "prog"
     #caso use outro nome, basta adicionar o nome do executavel que voce gera abaixo :)
